<div class="container w-75">
  <%#= render "simple_calendar/calendar"%>
  <%= month_calendar events: @tasks  do |date, tasks| %>
    <%= date.day %>

    <% tasks.each do |task| %>
      <div>
        <%= link_to schedule_days_path({schedule_day:{schedule_day: date,task_id: task.id}}), method: :post do %>
          <%= task.title_task %>
        <% end %>

      </div>
    <% end %>

  <% end %>

</div>