<div class="container w-75">
  <%= month_calendar events: @tasks  do |date, tasks| %>
    <%= date.day %>

    <% tasks.each do |task| %>
      <div>
        <%= link_to schedule_days_path({schedule_day:{schedule_day: date,task_id: task.id}}), method: :post do %>
          <p class=" p-0 m-0 text-c"><%= task.title_task %></p>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>