
<div class="container">
  <p class="text-center"><%= @schedule_day.task.title_task %></p>
  <p class="text-center"><%= @schedule_day.schedule_day.strftime("%Y年 %m月 %d日") %></p>
  <div class="row">
    <div class="col">
      <%= render 'day_tasks/day_task_form',day_task: @day_task,schedule_day: @schedule_day %>
    </div>
    <div class="col">
      <div id="day_task_index">
        <%= render 'day_tasks/day_task_index',day_tasks: @day_tasks %>
      </div>
  </div>
</div>










