<%= link_to notifications_path do %>
  <% if unchecked_notifications.any? %>
    <span class=" fa-stack ">
      <i class="far fa-bell fa-2x fa-stack-1x"></i>
      <i class="fas fa-circle fa-stack-1x fa-inverse fa-lg i-point", style="color:Tomato"></i>
      <p class="i-point2 text-white"><%= current_user.passive_notifications.count %></p>
    </span>
  <% else %>
      <i class="far fa-bell fa-2x"></i>
  <% end %>
<% end %>