

<div class="cotainer">
  <div class="row">
    <div class="col col-6">
       <%= link_to 'ログイン' ,new_user_registration_path %>
       <%= link_to 'サインアップ',new_user_registration_path %>
    </div>
  </div>
</div>

     