

<div class="cotainer ">
    <p class="text-center">
      <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post,class:"btn btn-secondary p-3 mb-2 bg-secondary rounded-pill" %>
    </p>
    <p class="text-center">
      <%= link_to 'サインアップ',new_user_registration_path,class:"btn btn-success p-3 mb-2 bg-success rounded-pill" %>
    </p>
    <p class="text-center">
      <%= link_to 'ログイン' ,new_user_session_path,class:"btn btn-danger p-3 mb-2 bg-danger rounded-pill" %>
    </p>
</div>

