<div class="container">
  <% if @post_images.count == 0 %>
    検索にマッチするものはありませんでした
  <% else %>
    <%= @post_images.count %>件ヒットしました
  <% end %>
   
  <div class="list">
    <%= render 'post_image_list',post_images: @post_images,task: @task%>
  </div>
  <div class="d-flex justify-content-center"><%= paginate @post_images, theme: 'bootstrap-5'%></div>
</div>
