<div class="container">
  <p>
    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      <span><i class="fas fa-tag"></i>タグ一覧</span>
    </a>
  </p>
<div class="collapse" id="collapseExample">
  <div class=" card-body ">
   <% @tag_list.each do |tag| %>
      <span><%=link_to tag.name,search_tag_path(tag_id: tag.id),class:"text-lowercase" %></span>
    <% end %>
  </div>
</div>

  <% unless @post_images.blank? %>
    <div class="list">
      <%= render 'post_images/post_image_list',post_images: @post_images,task: @task %>
    </div>
  <% else %>
  <p class="text-center">タグ一覧からタグを選択して下さい。</p>
  <% end %>

</div>